<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.gridimagesearch.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Image Searcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SearchActivity"
            android:label="@string/activity_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageDisplayActivity"
            android:label="@string/title_activity_smart_image_view" >
        </activity>
        <activity
            android:name=".AdvancedSearchOptions"
            android:label="@string/title_activity_advanced_search_options" >
        </activity>
    </application>

</manifest>
